.faqPage {
  background: linear-gradient(
    180deg,
    #fde8d6 0.02%,
    rgba(255, 255, 255, 0) 118.87%
  );
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

.questionsFlexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.questionContainer {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  max-width: 400px;
  padding: 25px 20px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0 auto;
}

.arrowIcon {
  margin-left: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform 0.3s ease-in-out;
}

.rotateArrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded {
  max-height: fit-content;
}
