.title {
  font-family: var(--font-h1);
  font-size: var(--font-size-h1);
  font-weight: 700;
}

.subTitle {
  font-family: var(--font-h1);
  font-size: var(--font-size-h2);
  font-weight: 700;
}

.content {
  font-family: var(--font-h2);
  font-size: var(--font-size-base);

}