.aboutBody {
  background: linear-gradient(180deg, #eef3f8 0%, rgba(220, 231, 242, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--padding-2xl);
}

.bold {
  font-weight: 700;
}

.content {
  font-family: var(--font-h2);
  font-size: var(--font-size-base);
  padding: var(--padding-base);
  line-height: 32px;
}

.contentBox {
  padding: var(--padding-2xl);
}

.founder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: calc(var(--padding-2xl) * 2);
  box-shadow: 21px 23px 16px 0px rgba(0, 0, 0, 0.204);
}

.founderBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.founderContent {
  display: flex;
  flex-direction: column;
}

.founderName {
  font-family: var(--font-h2);
  font-size: 24px;
  font-weight: 600;
  padding-left: var(--padding-base);
}

.image {
  width: 40%;
  height: auto;
  padding: var(--padding-base);
}

.imageContainer {
  display: flex;
  max-width: 200px;
  height: 200px;
}

.subTitle {
  font-family: var(--font-h1);
  font-size: 34px;
  font-weight: 700;
  margin-top: calc(var(--padding-xl) * 2);
}

.title {
  font-family: var(--font-h1);
  font-size: 48px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .founder {
    flex-direction: column;
    align-items: normal;
  }
}
