.advantages {
  text-align: center;
}

.contentBox {
  display: flex;
  justify-content: space-around;
}

.contentCard {
  background-color: bisque;
  width: 30%;
}

.onClickEffect {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hoverEffect {
    display: none;
  }

  .onClickEffect {
    display: flex;
  }
}
