:root {
  --padding-base: 16px;
  --padding-large: 24px;
  --padding-xl: 32px;
  --padding-2xl: 48px;
  --padding-4xl: 64px;
  --padding-s: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}