.container1,
.container2,
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
}

.cardContent {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 370px;
    height: 430px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.cardHeader {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.cardHeader img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.cardHeader h2 {
    font-family: bold var(--font-h2);
    font-size: 24px;
    text-align: center;
    margin: 36px 0px;
    margin-top: 6px;
}

.cardContent:hover .cardHeader {
    transform: translateY(-20px);
}

.cardContent:hover{
    display: block;
}

.cardExtended {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cardContent:not(:hover) .cardExtended {
    display: none;
}

.title2  {

        top: 30px;
        width: 350px;
        text-align: right;
}