.button {
  border-radius: 10px;
  font-family: var(--font-h2);
  font-size: 20px;
  font-weight: 600;
  height: fit-content;
  margin-right: var(--padding-s);
  padding: var(--padding-s) var(--padding-base);
  width: fit-content;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--padding-base);
}

.content {
  font-family: var(--font-h2);
  font-size: 24px;
  margin-top: var(--padding-base);
}

.contentBox {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.image {
  height: auto;
  width: 100%;
}

.imageContainer {
  width: 40%;
  position: relative;
}

.mainBox {
  align-items: center;
  background: linear-gradient(
    130deg,
    rgba(229, 32, 50, 1) 0%,
    rgba(250, 187, 132, 1) 15%,
    rgba(255, 230, 208, 1) 32%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 1) 72%,
    rgba(151, 184, 215, 1) 100%
  );
  display: flex;
  flex-direction: row;justify-content: center;
  padding: var(--padding-4xl) var(--padding-2xl);
}

.title {
  font-family: var(--font-h1);
  font-size: 48px;
}
