.button {
  border-radius: 10px;
  border: 3px solid;
  font-family: var(--font-h2);
  font-size: 20px;
  font-weight: 600;
  height: fit-content;
  margin-right: var(--padding-s);
  margin-top: var(--padding-s);
  padding: var(--padding-s) var(--padding-base);
  width: fit-content;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.content {
  font-family: var(--font-h2);
  font-size: 24px;
  width: 90%;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 50vh;
  justify-content: center;
  margin: 3rem 0;
  max-width: 50%;
}

.image {
  height: 105%;
  object-fit: cover; 
  object-position: 0 -30%;
  position: absolute;
  right: 0;
}

.imageContainer {
  width: 100%;
  position: relative;
}

.mainBox {
  align-content: center;
  background: linear-gradient(
    130deg,
    rgba(229, 32, 50, 1) 0%,
    rgba(250, 187, 132, 1) 15%,
    rgba(255, 230, 208, 1) 32%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 1) 72%,
    rgba(151, 184, 215, 1) 100%
    );
    display: flex;
    flex-direction: row;
    padding: 6rem;
    padding-right: 0;
}

.title {
  font-family: var(--font-h1);
  font-size: 48px;
  font-weight: 700;
  line-height: 3.5rem;
}

.inclusion {
  background-color: #ffffffb8;
  border-color: var(--c-btn-blue);
  color: var(--c-text-dark);
}

.howItWorks {
  background-color: var(--c-btn-blue);
  border-color: var(--c-btn-blue);
  color: var(--c-text-light);
}


@media only screen and (max-width: 1200px) {
  .button {
    font-size: 16px; /* Slightly larger for better readability */
  }

  .content {
    font-size: 18px;
    width: 100%;
  }
  
  .contentBox {
    flex-direction: column;
    gap: 2rem;
    height: 45vh;
    justify-content: center;
    margin: 5rem 2rem;
    max-width: 100%;
  }

  .mainBox {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-m); /* Reduced padding for smaller screens */
  }

  .title {
    font-size: 32px; /* Adjusted for smaller screens */
    line-height: 2.5rem;
  }
}